{template 'common/header'}
{template 'common'}
<div class="main">
	<ul class="nav nav-tabs">
		<li><a href="{php echo $this->createWebUrl('projectinput');}">项目列表</a></li>
		<li{if $op=='edit' && empty($id)} class="active"{/if}><a href="{php echo $this->createWebUrl('projectinput',array('op'=>'edit'));}">添加项目</a></li>
		{if $op=='edit' && !empty($id)}<li class="active"><a href="{php echo $this->createWebUrl('projectinput',array('op'=>'edit','id'=>$id));}">编辑项目</a></li>{/if}
	</ul>
	<form action="" class="form-horizontal form" method="post" onsubmit="return formcheck()">
		<input type="hidden" name="id" value="{$item['id']}">
		<div class="panel panel-default">
			<div class="panel-heading">
				项目信息录入
			</div>
			<div class="panel-body">
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">单位名称</label>
					<div class="col-sm-9 col-xs-12">
						<select class='form-control' name='department' id='department'>
							<option value=''>--请选择单位名称--</option>
							{loop $list $cp}
							<option value="{$cp['title']}">{$cp['title']}</option>
							{/loop}
						</select>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">项目名称</label>
					<div class="col-sm-9 col-xs-12">
						<input type="text" name="title" id="title" value="{$item['title']}" class="form-control">
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">合同金额</label>
					<div class="col-sm-9 col-xs-12">
						<input type="text" name="contractmoney" id="contractmoney" value="{$item['contractmoney']}" class="form-control">
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">合同内容</label>
					<div class="col-sm-9 col-xs-12">
						<input type="text" name="contract" id="contract" value="{$item['contract']}" class="form-control">
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">开始时间</label>
					<div class="col-sm-9 col-xs-12">
						{php echo tpl_form_field_date('startime', $item['startime'], true);}
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">结束时间</label>
					<div class="col-sm-9 col-xs-12">
						{php echo tpl_form_field_date('endtime', $item['endtime'], true);}
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">项目说明</label>
					<div class="col-sm-9 col-xs-12">
						<input type="text" name="describe" id="describe" value="{$item['describe']}" class="form-control">
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">第一次回款</label>
					<div class="col-sm-9 col-xs-12">
						<input type="text" name="firstpayment" id="firstpayment" value="{$item['firstpayment']}" class="form-control">
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">第二次回款</label>
					<div class="col-sm-9 col-xs-12">
						<input type="text" name="secondpayment" id="secondpayment" value="{$item['secondpayment']}" class="form-control">
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">第三次回款</label>
					<div class="col-sm-9 col-xs-12">
						<input type="text" name="thirdpayment" id="thirdpayment" value="{$item['thirdpayment']}" class="form-control">
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">第四次回款</label>
					<div class="col-sm-9 col-xs-12">
						<input type="text" name="apirpayment" id="apirpayment" value="{$item['apirpayment']}" class="form-control">
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-xs-12 col-sm-3 col-md-2 control-label">第五次回款</label>
					<div class="col-sm-9 col-xs-12">
						<input type="text" name="firepayment" id="firepayment" value="{$item['firepayment']}" class="form-control">
					</div>
				</div>
				
			</div>
		</div>
		<div class="form-group col-sm-12">
			<input type="submit" name="submit" value="提交" class="btn btn-primary col-lg-1" />
			<input type="hidden" name="token" value="{$_W['token']}" />
		</div>
	</form>
	<script type="text/javascript">
		function formcheck() {
			var department=document.getElementById("department").value;
			var title=document.getElementById("title").value;
			if (department=='') {
				Tip.select("department", "请填写单位名称!", "right");
				return false;
			}
			if (title=='') {
				Tip.select("title", "请填写项目名称!", "right");
				return false;
			}
			return true;
		}
	</script>

