<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
  <title>项目管理</title>
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/base.css">
  <link rel="stylesheet" href="css/dataPicker.css">
</head>
<body>
<div class="msg-container">
  <h4 class="mb60">>>>项目管理</h4>
  <form action="" class="row  msg-box">
    <ul class="row">
      <li class="row">
        <label for="" class="col-4">项目名：</label>
        <input type="text" class="col-8 msg-date" placeholder="请输入项目名">
      <li class="row">
        <label class="col-4">单位名：</label>
        <input type="text" class="col-8 msg-date" placeholder="请输入单位名称">
      </li>
      <li class="row">
        <label for="" class="col-4">合同金额：</label>
        <input type="text" class="col-8 msg-date" placeholder="请输入合同金额">
      </li>
      <li class="row">
        <label for="" class="col-4">合同内容：</label>
        <input type="text" class="col-8 msg-date" placeholder="请输入合同内容">
      </li>
      <li class="row">
        <label for="" class="col-4">合同开始时间：</label>
        <input type="text" id="contractStar" class="col-8 msg-date" readonly="readonly" placeholder="请选择日期">
      </li>
      <li class="row">
        <label for="" class="col-4">合同结束时间:</label>
        <input type="text" id="contractEnd" class="col-8 msg-date" readonly="readonly" placeholder="请选择日期">
      </li>
      <li class="row">
        <label for="" class="col-4"> 项目说明:</label>
        <textarea name="" id="" class="col-8 msg-area" placeholder="请输入问题记录（如无问题请填写无）"></textarea>
      </li>
      <li class="row">
        <label for="" class="col-4">第一次回款：</label>
        <input type="text" class="col-8 msg-date" placeholder="请输入第一次回款金额">
      </li>
      <li class="row">
        <label for="" class="col-4">第二次回款：</label>
        <input type="text" class="col-8 msg-date" placeholder="请输入第二次回款金额">
      </li>
      <li class="row">
        <label for="" class="col-4">第三次回款：</label>
        <input type="text" class="col-8 msg-date" placeholder="请输入第三次回款金额">
      </li>
      <li class="row">
        <label for="" class="col-4">第四次回款：</label>
        <input type="text" class="col-8 msg-date" placeholder="请输入第四次回款金额">
      </li>
    </ul>
    <a type="submit" class="col-12 link-btn ">提交</a>
  </form>
</div>

<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/resize.js"></script>
<script src="js/jquery.validate.js"></script>
<script src="js/zdy-vlidate.js"></script>
<script src="js/messages_zh.js"></script>
<script src="js/main.js"></script>
<script src="js/iscroll.js"></script>
<script src="js/datePicker.js"></script>
</body>
</html>