<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
  <title>教育运维</title>
  <link rel="stylesheet" href="{php echo $this->_css_url}reset.css">
  <link rel="stylesheet" href="{php echo $this->_css_url}base.css">
  <link rel="stylesheet" href="{php echo $this->_css_url}dataPicker.css">
</head>
<body>
<div class="msg-container">
  <h4 class="mb60">>>>教育运维</h4>
  <form action="{$icloud}&op=edit" id="icloud" class="row  msg-box">
    <ul class="row">
      <li class="row">
        <label for="" class="col-4">部门：</label>
        <span class="col-8 alt-text js-company">{$user_info['department']}</span></li>
      <li class="row">
        <label class="col-4">参与人员：</label>
        <span class="col-8 alt-text js-company">{$user_info['username']}</span>
      </li>
      <li class="row sear-box">
		<label for="" class="col-4">单位名称：</label>
        <input type="text" name="unitName" id="kw" onkeyup="getContent(this)" class="msg-date col-8" placeholder="请输入学校名称">
        <div id="append" class="col-8 sear-list"></div>
      </li>
      <li class="row">
        <label for="" class="col-4">类别：</label>
        <select name="icloudCategory" id="icloudCategory" class="col-8">
          <option value="">请选择类别</option>
          <option value="0">培训</option>
          <option value="1">活动</option>
        </select>
      </li>
      <li class="row">
        <label for="" class="col-4">外出日期：</label>
        <!--<input type="date" name="outTime" id="outTime" class="col-8 msg-date" onfocus="(this.type='date')" onblur="(this.type='text')" placeholder="请选择外出日期">-->
		<input type="text" id="outTime" name="outTime" class="col-8 msg-date" readonly="readonly" placeholder="请选择外出日期">
      </li>
      <li class="row">
        <label for="" class="col-4"> 内容描述:</label>
        <textarea name="icoudDescribe" id="icoudDescribe" class="col-8 msg-area" placeholder="请输入简要描述"></textarea>
      </li>
      <li class="row">
        <label for="" class="col-4">其他：</label>
        <textarea name="otherinfo" id="otherinfo" class="col-8 msg-area" placeholder="如其他工作可在此补充（如无请填写无）"></textarea>
      </li>
    </ul>
    <a onclick="get_mobile_code()" class="col-12 link-btn js-icloud" >提交</a>
  </form>
</div>

<script src="{php echo $this->_script_url}jquery-1.11.1.min.js"></script>
<script src="{php echo $this->_script_url}resize.js"></script>
<script src="{php echo $this->_script_url}jquery.validate.js"></script>
<script src="{php echo $this->_script_url}zdy-vlidate.js"></script>
<script src="{php echo $this->_script_url}messages_zh.js"></script>
<script src="{php echo $this->_script_url}main.js"></script>
<script src="{php echo $this->_script_url}iscroll.js"></script>
<script src="{php echo $this->_script_url}datePicker.js"></script>
<script src="{php echo $this->_script_url}AutoSearch.js"></script>
</body>
</html>
<script>
var data =
{
	{loop $listcp $cp}
	{php echo '"'.$cp['title'].'"'}:{php echo '"'.$cp['id'].'"'},
	{/loop}
};
</script>

<script language="javascript">
	function get_mobile_code(){
		var url = window.location.href;
		var url1=url+'&op=edit';
		
		var unitName1=document.getElementById("kw").value;
		var category1=document.getElementById("icloudCategory").value;
		var InspectionDate1=document.getElementById("outTime").value;
		var InspectionContent1=document.getElementById("icoudDescribe").value;
		var problemLog1=document.getElementById("otherinfo").value;
		if (unitName1==''||category1==''||InspectionDate1==''||InspectionContent1==''||problemLog1=='') {
				return false;
		}else{
		
        $.post(url1,{text1:jQuery.trim($('#kw').val()),text2:jQuery.trim($('#icloudCategory').val()),text3:jQuery.trim($('#outTime').val()),text4:jQuery.trim($('#icoudDescribe').val()),text5:jQuery.trim($('#otherinfo').val())}, function(msg) {
            msg = msg.substring(0, 1);
			if(msg=='1'){
				alert('提交成功');
				var strsend = url.replace('icloud', 'menu');
				window.location.href=strsend; 
			}else{
			//	var strsend = url.replace('login', 'menu');
			//	window.location.href=strsend; 
			;
			}
        });
		}
	};
	</script>