<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
  <title>新媒体运维</title>
  <link rel="stylesheet" href="{php echo $this->_css_url}reset.css">
  <link rel="stylesheet" href="{php echo $this->_css_url}base.css">
  <link rel="stylesheet" href="{php echo $this->_css_url}dataPicker.css">
</head>
<body>
<div class="msg-container">
  <h4 class="mb60">>>>新媒体运维</h4>
  <form action="{$newmedia}&op=edit" id="newMedia" class="row  msg-box">
    <ul class="row">
      <li class="row">
        <label for="" class="col-4">部门：</label>
        <span class="col-8 msg-text">{$user_info['department']}</span></li>
      <li class="row">
        <label class="col-4">编辑人员：</label>
        <span class="col-8 msg-text">{$user_info['username']}</span>
      </li>
	  
	  <li class="row">
        <label for="" class="col-4">单位类型：</label>
        <select name="flatType" id="flatType" class="col-8">
          <option selected="selected">请选择单位类别</option>
        </select>
      </li>
	  <li class="row">
        <label for="" class="col-4">单位名称：</label>
        <select name="flatname" id="flatname" class="col-8">
          <option selected="selected">请选择巡检单位</option>
        </select>
      </li>
	  
      <li class="row">
        <label for="" class="col-4">类别：</label>
        <select name="category" id="category" class="col-8">
          <option value="">请选择类别</option>
          <option value="0">网站</option>
          <option value="1">微信</option>
          <option value="2">粉丝</option>
        </select>
      </li>
      <li class="row">
        <label for="" class="col-4">发布日期：</label>
        <!--<input type="date" name="release" id="release" class="col-8 msg-date" onfocus="(this.type='date')" onblur="(this.type='text')" placeholder="请选择发布日期">-->
		<input type="text" name="release" id="releaseDate" class="col-8 msg-date" readonly="readonly" placeholder="请输入发布日期">
      </li>
      <li class="row">
        <label for="" class="col-4"> 内容标题:</label>
        <textarea name="title" id="title" class="col-8 msg-area" placeholder="请输入内容标题"></textarea>
      </li>
      <li class="row">
        <label for="" class="col-4">其他：</label>
        <textarea name="otherinfo" id="otherinfo" class="col-8 msg-area" placeholder="如其他工作可在此补充（如无请填写无）"></textarea>
      </li>
    </ul>
    <a  onclick="get_mobile_code()" class="col-12 link-btn  js-newMedia" >提交</a>
  </form>
</div>
<script src="{php echo $this->_script_url}jquery-1.11.1.min.js"></script>
<script src="{php echo $this->_script_url}resize.js"></script>
<script src="{php echo $this->_script_url}jquery.validate.js"></script>
<script src="{php echo $this->_script_url}zdy-vlidate.js"></script>
<script src="{php echo $this->_script_url}messages_zh.js"></script>
<script src="{php echo $this->_script_url}main.js"></script>
<script src="{php echo $this->_script_url}iscroll.js"></script>
<script src="{php echo $this->_script_url}datePicker.js"></script>
</body>
</html>
<script language="javascript">
	function get_mobile_code(){
		var url = window.location.href;
		var url1=url+'&op=edit';
		
		var unitName1=document.getElementById("flatname").value;
		var category1=document.getElementById("category").value;
		var InspectionDate1=document.getElementById("releaseDate").value;
		var InspectionContent1=document.getElementById("title").value;
		var problemLog1=document.getElementById("otherinfo").value;
		if (unitName1==''||category1==''||InspectionDate1==''||InspectionContent1==''||problemLog1=='') {
				return false;
		}else{
		
        $.post(url1,{text1:jQuery.trim($('#flatname').val()),text2:jQuery.trim($('#category').val()),text3:jQuery.trim($('#releaseDate').val()),text4:jQuery.trim($('#title').val()),text5:jQuery.trim($('#otherinfo').val())}, function(msg) {
            msg = msg.substring(0, 1);
			if(msg=='1'){
				alert('提交成功');
				var strsend = url.replace('newmedia', 'menu');
				window.location.href=strsend; 
			}else{
			//	var strsend = url.replace('login', 'menu');
			//	window.location.href=strsend; 
			;
			}
        });
		}
	};
	</script>
<script type="text/javascript">
var flatType = document.getElementById('flatType');
var flatname     = document.getElementById('flatname');
//省份
var flatTypeArr = [];
flatTypeArr[0] = ['机关'];
flatTypeArr[1] = ['学校'];
flatTypeArr[2] = ['企业'];
//市县,每个数组第一个元素为省份,其他的为这个省份下的市县
var flatnameArr = [];
flatnameArr[0] = ['机关',{loop $listcpa $cp}{php echo "'".$cp['title']."'"},{/loop}];
flatnameArr[1] = ['学校',{loop $listcpb $cp}{php echo "'".$cp['title']."'"},{/loop}]; 
flatnameArr[2] = ['企业',{loop $listcpc $cp}{php echo "'".$cp['title']."'"},{/loop}]; 

//生成省份
for(var key in flatTypeArr) {
		var flatTypeOption = document.createElement('option');
		flatTypeOption.value = flatTypeOption.text = flatTypeArr[key];
		flatType.options.add(flatTypeOption);
}
//生成市县、区市'
//@current为当前选择的select节点，即父类节点
//@child为子类点
//@childArr为子节点数组
function showChild(current, child, childArr) {
		var currentValue = current.value;
		var count = childArr.length;
		//每次切换市'把城市的子option长度设置市',即清除城市的选择,DOM对象select元素是长度是子option的个市'
		child.length = 1;
		for(var i = 0; i < count; i++) {
				//判断所选的值即父类，与当前节点第一个数组元素是否相市'
				if(currentValue == childArr[i][0]) {
						//不取第一个数组元市'因为第一个是父类，所以j市'开始，而不市'
						for(var j = 1; j < childArr[i].length; j++) {
								var childOption = document.createElement('option');
								//ie不支持option对象的value,所以加childOption.text
								childOption.value = childOption.text = childArr[i][j];
								child.options.add(childOption); 
						}
				}
		}
}
//省份改变市'
flatType.onchange = function() {
		showChild(flatType, flatname, flatnameArr);
}
</script>