<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
  <title>客户查询</title>
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/base.css">
</head>
<body>
<div class="logo-title">
  <h1>迈联科技运维管理平台</h1>
  <h4>客户查询</h4>
</div>
<div class="row msg-container menu-box">
  <div class="row mb60" >
    <a href="addProject.html" class="col-4 link-inspection">
      <p class="icon-box icon-offer"></p>
      <span>机关</span>
    </a>
    <a href="addCompany.html" class="col-4">
      <p class="icon-box icon-school"></p>
      <span>学校</span>
    </a>
    <a href="addCompany.html" class="col-4">
      <p class="icon-box icon-company"></p>
      <span>企业</span>
    </a>
  </div>
</div>
<script src="js/resize.js"></script>
</body>
</html>