<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
  <title>项目列表</title>
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/base.css">
  <style>

  </style>
</head>
<body>
<div class="logo-title">
  <h1>迈联科技运维管理平台</h1>
  <h4>项目列表</h4>
</div>
<div class="row msg-container menu-box">
  <ul class="row">
    <li class="unit-list col-12">柳州质监局 </li>
    <li class="unit-list col-12">柳州人社 </li>
    <li class="unit-list col-12">...</li>
  </ul>
</div>
<script src="js/resize.js"></script>
</body>
</html>